{% extends "rentalsmodel/base.html" %}

{% block title %}Property Review {% endblock title%}

{% block content %}
  <h3 >Please review your stay</h3>
  <h3 style="color:red;">Give genuine feedback</h3>
  

   <form action="review.php" method="post" >
     <fieldset>
      <legend>Personal Details:</legend>
	Name : <br/>
	<input type="text" value="" name="txt_name" title="Name should consist of one or more words, starting with an uppercase letter followed by lowercase characters, and separated by spaces" maxlength="16" size="50" pattern="[A-Z][a-z]+( [A-Z][a-z]+)*$" required /><br/><br/>
	Title: <br/>
		<input type="radio" name="txt_gender" value="male" required/> Male
  	<input type="radio" name="txt_gender" value="female" /> Female
  	<input type="radio" name="txt_gender" value="other" /> Other <br/><br/>
     </fieldset>
	<!-- multiple, size -->
     <fieldset>
      <legend>Property Details:</legend>
	<h5>Please give us feedback on your appreciation of the property</h5> 
	Cleanliness : <br/>
	 <select name="txt_clean_rating" size ="2" multiple='true' >
 	 <option value="" selected>Please select a value</option>
	 <option value= "1" >one</option>
	 <option value= "2" >two</option>
	 <option value= "3" >3</option>
	 <option value= "4" >4</option>
	 <option value= "5" >5</option>
	</select><br/><br/>
	Comment: </br>
	<textarea  rows="10" cols="130" name="txt_comment"></textarea><br/><br/>
	<button type="button" onclick="alert('Hello World!')">Click Me!</button> <br/><br/>
	<input type="submit"/> 
	<input type="reset"/>
   </form>
   {% endblock content%}